.info {
    position: relative;
    margin: 130px;
    padding: 50px;

    background: white;
    border-radius: 50px;
}

.info__title {
    padding-top: 10px;
    text-align: center;
    
    font-size: 60px;
    font-weight: bold;
    background: transparent;
}

.info__title span {
    color: #009BFF;
    font-size: 60px;
    font-weight: bold;
    background: transparent;
}

.info__mini {
    padding-top: 10px;
    text-align: center;
    
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    background: transparent;
}

.info__block {
    padding-top: 30px;
    padding-bottom: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
    background: transparent;
}

.info__block__img {
    height: 270px;
}

/* tooltip */

.container,
.containerTwo,
.containerThree,
.containerFour {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009BFF;
    cursor: pointer;
}

.container      { top: 240px; left: 400px; }
.containerTwo   { top: 400px; left: 460px; }
.containerThree { top: 195px; left: 760px; }
.containerFour  { top: 440px; left: 730px; }

.container__text,
.containerTwo__text,
.containerThree__text,
.containerFour__text {
    width: 200px;
    padding: 10px;
    background: transparent;
    border: 1px dashed #009BFF;
    border-radius: 10px;
    
    position: absolute;
    top: 0;
    right: 80px;
    
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0%;
    text-align: left;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.containerTwo__text { width: 250px; right: 140px; }
.containerThree__text { width: 250px; top: 0; left: 150px; }
.containerFour__text  { width: 250px; top: -60px; left: 170px; }

.container:hover .container__text,
.containerTwo:hover .containerTwo__text,
.containerThree:hover .containerThree__text,
.containerFour:hover .containerFour__text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
