.video {
    margin: 100px 130px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.video__text {
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2%;
    
    text-align: center;
}

.video__text span {
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2%;
    
    text-align: center;
    color: #009BFF;
}

.video__img {
    width: 1150px;
    border-radius: 20px;
    
    transition: all 0.3s ease;
    cursor: pointer;
}