.engine {
    display: flex;
    justify-content: space-between;
    
    position: relative;
    margin: 100px 130px;
    padding: 50px;

    height: 525px;
    background: #0090ED;
    border-radius: 50px;
}

.engine__text {
    background: #0090ED;
}

.engine__text__title {
    font-size: 55px;
    font-weight: bold;

    color: white;
    background: #0090ED;

    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.engine__text__ul {
    padding: 50px 0;

    background: transparent;
}

.engine__text__ul__item {
    padding: 10px 0;

    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

    color: white;
    background: #0090ED;

    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.engine__img {
    width: 550px;
    height: 400px;

    z-index: 2;
    background: transparent;
}

.back {
    position: absolute;

    top: 80px;
    left: 780px;
    z-index: 1;

    width: 425px;
    height: 425px;
    
    border-radius: 50%;
    background-color: #149efa;
    border: 1px solid black;
}
