.telemetry {
    margin: 50px 130px 50px 130px;
    padding: 50px;
    
    display: flex;
    justify-content: center;
    gap: 150px;
    
    background: white;
    border-radius: 50px;
    height: 525px;
    
    position: relative;
}

.telemetry__img {
    background: transparent;
    height: 350px;
    z-index: 2;
}

.telemetry__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
}

.telemetry__info__title {
    font-size: 45px;
    font-weight: bold;
    background: transparent;
    padding-bottom: 25px;
}

.telemetry__info__title span {
    font-size: 45px;
    font-weight: bold;
    color: #0090ED;
    background: transparent;
}

.telemetry__info__ul {
    background: transparent;
}

.telemetry__info__ul li {
    font-size: 24px;
    padding-bottom: 5px;
    background: transparent;
}

.telemetry__info__ul li::marker {
    color: #0090ED;
}

.back {
    position: absolute;
    top: 90px;
    left: 80px;
    z-index: 1;

    width: 375px;
    height: 375px;
    
    border-radius: 50%;
    background-color: #EAEFF9;
    border: 1px solid black;
}