.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin: 10px 130px;
    padding: 10px;
    
    background: white;
    border: none;
    border-radius: 15px;
}

.header__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    
    background: transparent;
}

.header__block__phone {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0%;
    
    background: transparent;
}

.header__block__button {
    padding: 15px 50px;
    
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    
    background: #009BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.3s;
}

.header__block__button:hover {
    padding: 15px 50px;
    
    font-size: 18px;
    line-height: 25px;
    
    background: #009BFF50;
    color: #1e3d6f;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    -webkit-box-shadow: 10px 10px 30px 0px rgba(30, 61, 111, 0.26);
    -moz-box-shadow: 10px 10px 30px 0px rgba(30, 61, 111, 0.26);
    box-shadow: 10px 10px 30px 0px rgba(30, 61, 111, 0.26);
}
