@font-face {
    font-family: Gilroy;
    src: url('./assets/gilroy/Gilroy-Light.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    background: #DBE1F1;
}